/.cproject
/.nedexclusions
/.nedfolders
/.oppbuildspec
/.project
/.settings
/out
/analysis/csv_results
/analysis/test.ipynb
src/CellularRoundRobin_dbg
src/CellularRoundRobin
/simulations/results
/simulations/*.anf